<div class="wrapper">
  <div class="container">
    <h1>My Tasks</h1>
    <div class="tasks">
      <% @tasks.each do |task| %>
        <div class="form-check" id="individual-tasks">
          <% if task.completed == true %>
            <i class="far fa-check-circle"></i>
          <% else %>
             <i class="far fa-circle"></i>
          <% end %>
          <label class="form-check-label" for="defaultCheck1">
            <%= link_to task.title, task_path(task) %>
          </label>
          <br>
         <%= link_to "Delete", task_path(task),
          method: :delete,
          data: { confirm: "Are you sure?" },
          class: "far fa-trash-alt" %>
        </div>
      <% end %>
    </div>

    <div class="link">
      <%= link_to "Add new task", new_task_path, class: "fas fa-plus"%>
    </div>
  </div>
</div>
