

<div class="container">
  <h1>Create a new task</h1>

  <form action="/tasks" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

    <div class="form-group">
      <label for="inputTitle">Title</label>
      <input type="text" class="form-control" id="inputTitle" name="task[title]">
    </div>
    <div class="form-group">
      <label for="inputDetails">Details</label>
      <input type="text" class="form-control form-control-lg" id="inputDetails" name="task[details]">
    </div>

    <button type="submit" class="btn btn-primary">Create task</button>
    <div class="link">

      <%= link_to "Back to list  ", tasks_path, class: "fas fa-undo" %>
    </div>
  </form>
</div>
