<div class="container">


  <div class="form-check">
    <h1><%= @task.title %></h1>

    <h3><%= @task.details %></h3>
    <% if @task.completed == true %>
      <i class="far fa-check-circle"></i>
      <label for="completed-checkbox" checked="checked" class="form-check-label">This task is completed </label>
    <% else %>
      <i class="far fa-circle"></i>
      <label for="completed-checkbox" class="form-check-label">This task not completed yet </label>
    <% end %>
  </div>
  <div class="buttons">
    <div class="link">
      <%= link_to "Edit this task", edit_task_path %>
    </div>

    <div class="link">
      <%= link_to "Back to list", tasks_path %>
    </div>
  </div>

</div>


