// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-family: 'Muli', sans-serif;
}


.container {
  background-color: rgb(244, 244, 244);
  padding: 20px;
}

.container h1 {
  margin-top: 0;
  text-align: center;
}

.link {
  margin: 20px;
}

#individual-tasks {
  margin: 20px 0;
}

h3 {
  background-color: rgb(235, 235, 235);
  height: 100px;
  display:flex;
  align-items: center;
}

.form-check {
  margin: 20px 0;
}
